.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 90%;
    max-width: 100%;
}

.flex-container .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}