button {
    margin: 0.1em;
    width: 2.8em;
    height: 2.8em;
    cursor: pointer;
    transition: all .13s ease;
    font-size: 35px;
}

.flex-container button {
    background-color: #fafafa;
    color: black;
}

.flex-container.blue button {
    background-color: rgb(3, 95, 3);
    color: white;
}

.flex-container.orange button {
    background-color: rgb(95, 9, 3);
    color: rgb(255, 255, 255);
}

.flex-container.number button {
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
}

.flex-container.operator button {
    color: deepskyblue;
}


.button:active {
    transform: scale(1.1);
    border-color: #fafafa;
    box-shadow: 0 0 1rem #fafafa;
}