button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: all .13s ease;
    font-size: 35px;
}

.flex-container.blue button {
    background-color: rgb(3, 95, 3);
    color: white;
}

.flex-container.orange button {
    background-color: rgb(95, 9, 3);
    color: rgb(255, 255, 255);
}

.flex-container.number button {
    background-color: rgb(170, 168, 47);
    color: rgb(255, 255, 255);
}

.flex-container.operator button {
    color: deepskyblue;
}

.button:hover {
    background-color: lightgray;
}

.button:active {
    transform: scale(1.1);
    border-color: #fafafa;
    box-shadow: 0 0 1rem #fafafa;
}